<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- make new links Home and New Post -->

<%= link_to "Today", today %>
<%= link_to "Hype", hype %>
<%= link_to "Entropy", entropy %>
<%= link_to "Spotlight", spotlight %>
<%= link_to "Hacks", hacks %>
<%= link_to "Origins", origins %>
<%= link_to "Webshop", root_path %>

<h1> The Show Lifestyle </h1>


<%= yield %>

</body>
</html>
